.logo-image {
    max-width: 75px;
    height: auto;
}

.phone-link {
    color: inherit;
    text-decoration: none;
}

.phone-link:hover {
text-decoration: underline;
}

.image-wrapper {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  .sort-container {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
    }
  .sort-container label {
    font-size: medium;
  }

  .centered-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
  }

  .contact-icons {
    display: flex;
    justify-content: center;
  }

  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    top: 0;
  }

  .welcome-banner {
    width: 100%;
  }

  .square {
    border: 2px solid black;
    text-align: center;
    background-color: rgb(143, 204, 143);
  }

  .square a {
    text-decoration: none;
    margin-top: 0;
  }


  .square-image {
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Set the same height as the width for a square */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .squares-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .square p {
    margin: 10px 0;
  }

  .square p.square-text {
    color: #1f2f43;
    font-size: 1.3em;
    font-weight: bold;
  }

  .menu-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  
  .menu-heading a {
    margin: 0 10px; /* Adjust the margin as needed for spacing between text and icons */
  }

 