.logo-image {
    max-width: 75px;
    height: auto;
}

.phone-link {
    color: inherit;
    text-decoration: none;
}

.phone-link:hover {
text-decoration: underline;
}

.image-wrapper {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  
  .sort-container {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
    }
  .sort-container label {
    font-size: medium;
  }

  .centered-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
  }

  .contact-icons {
    display: flex;
    justify-content: center;
  }

  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
