@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.logo-image {
    max-width: 75px;
    height: auto;
}

.phone-link {
    color: inherit;
    text-decoration: none;
}

.phone-link:hover {
text-decoration: underline;
}

.image-wrapper {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
  
.sort-container {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
}

.sort-container label {
    font-size: medium;
}

.centered-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: rgb(82, 148, 184);
    left: 0;
    right: 0;
}

.navbar-toggler {
    padding: .25rem .5rem;
    margin-right: 1rem;
}

.navbar-nav {
  font-weight: bold;
}

body .navbar-brand {
    color: white!important;
}

body .navbar-brand:hover {
    color: white!important;
}

body .navbar .nav-link {
    color: white;
}


.welcome-banner {
    width: 100%;
}

.square {
    border: 2px solid black;
    text-align: center;
    background-color: rgb(143, 204, 143);
    margin-top: 20px;
}

.square a {
    text-decoration: none;
    margin-top: 0;
}

.square-image {
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Set the same height as the width for a square */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    max-width: 100%;
    
}

.squares-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.square p {
    margin: 10px 0;
}

.square p.square-text {
    color: #1f2f43;
    font-size: 1.3em;
    font-weight: bold;
}

.menu-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
  
.menu-heading a {
    margin: 0 10px; /* Adjust the margin as needed for spacing between text and icons */
}

.footer {
  background-color: rgb(82, 148, 184);
  padding: 20px 0;
  color: #1f2f43;
  margin-top: 20px;
  width: 100%;
}

.footer-content {
  flex: 1;
}

.footer-icons {
  margin-top: 20px;
}

.bark-logo-img {
  max-width: 350px;
  max-height: auto;
}

.hours-text {
    color: white;
}

.harvest-link {
    font-size: 1.2em;
}

.footer-email {
    color: white;
}

.footer-icons a{
    margin-right: 5px;
}

.about-section {
    background-color: rgb(82, 148, 184);
    padding: 2% 0;

}

.about-section-text {
   color: white;
}

.about-img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid white;
    max-width: 100%;
}

.order-online-button {
    font-family: Raleway;
    font-weight: 1000;
    font-size: 25px;
    color: #000000;
    background-color: rgb(143, 204, 143);
    padding: 10px 30px;
    border: solid #48cae4 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 15px;
    transition : 1142ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
}

.order-online-button:hover {
    transition : 1142ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}

.about-content {
    margin-left: 10px;
}







.menu-btn{

font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 22px;
color: #fff;
background-color: rgb(82, 148, 184);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin: auto;

}
