body {
  margin: 0;
  padding: 0;
  background-image: url("barkbg.jpg");
  background-repeat: repeat;
  padding-top: 68px;
}

.container {
  background-color: rgb(143, 204, 143);
  width: 80%;
  border: 3px solid;
}

.hours-page {
  max-width: 45%;
  margin: 0 auto;
  padding-bottom: 2%;
}




.custom-link {
  color: inherit;
  text-decoration: none;
}



.icon {
  width: 45px;
  height: 45px;
}

@media (max-width: 800px) {
  .hours-page {
    max-width: 80%;
  }
}